* {
  padding: 0% 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  /* background */
  background: url(assets/bg-mobile.jpg) no-repeat top center/cover;
}

body * {
  font-family: "Inter", sans-serif;
  color: #ffffff;
}

#container {
  width: 360px; 
  margin: 56px auto 0px;
}

#profile {
  text-align: center;
  padding :24px
}

#profile img {
  /* A div [e] um elemento block a img [e] inline */
  

  width: 112px;
}

#profile p {
  font-weight: 500;
  line-height: 24px;
}
